/* BASIC SETUP ------------------------------------------------- */

/* colors:
222437 - space blue
C1CDD3 - moon grey
59946A - land green
394B3E - shade green
4E649B - ocean blue
3A4560 - ocean shade


*/

* {
	margin: 20;
	margin-bottom: 10px;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px dashed;*/
}

html {
    background-color: #222437;
	color: #C1CDD3;
	font-family: 'Archivo', sans-serif;
	font-size: 15px;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

/* REUSABLE COMPONENTS -----------------------------------------*/

/* Headings */

h1,
h2 {
	font-family: 'Archivo', sans-serif;	
	letter-spacing: -0.5px;
}

h1 {
	font-size: 300%;
	word-spacing: 4px;
	line-height: 1;
}

p {
	font-size: 20;
	text-align: justify;
}

.row {
	max-width: 600px;
	/* with 4 parameters: top right bottom left, with 2: top/bottom, left/right */ 
	margin: 0 auto; /* centers the row on the page */
	margin-bottom: 20px;
}

/* BUTTONS */

.btn,
.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	color: #394B3E;
	background-color: #59946A;
	border-radius: 7px;
	border: 2px solid #394B3E;
	/* the transition parameter selects another parameter to affect, and the time it will take to affect it */
	transition: 
		background-color 0.3s, 
		border 0.3s, 
		color 0.3s,
		padding 0.3s;
}

.btn:hover,
.btn:active {
	background-color: #394B3E;
	/*border: 2px solid #59946A;*/
	color: #59946A;
}

/* HEADER -----------------------------------------*/

header {
	height: 100px;
}

.logo {
	float: left;
	height: 100%;
}

.logo img {
	height: 100%;
	padding: 10%;
}

.logo h1 {
	margin: 30px 10px;
}

.main-nav {
	float: right;
	list-style: none; /* removes bullets */
	margin-top: 55px;
}

blockquote {
	margin: 0 80px;
	text-align: justify;
	background-color: #3A4560;
	padding: 30px;
	padding-bottom: 50px;
	border-radius: 30px;
}
cite {
	margin-left: 75px;
	float: right;
 }

 /*
.main-nav li { /* selects all li items within the class 
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited  {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transperent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active  {
	border-bottom: 2px solid #e67e22;
}

/* ------ PARAGRAPHS ------- 

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	
}

/* -------- BUTTONS -------- 

/* after the ':' is a pseudo class, here its specifying when the link is normal or visited (normally, the links are blue when normal, and purple when visited 
.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	border-radius: 7px;
	border: 2px solid #e67e22;
	/* the transition parameter selects another parameter to affect, and the time it will take to affect it 
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	margin-right: 15px;
	
}

.btn-full:hover,
.btn-full:active {
	background-color: #cf6d17;
	border: 2px solid #cf6d17;
	
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
}

.btn:hover,
.btn:active {
	background-color: #cf6d17;
	border: 2px solid #cf6d17;
	color: #fff;
}

/* -------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------- 

header {
	/* gradient from black to black, 70% opacity 
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	/*center the element (this is anchored to the top left corner)
	top: 50%;
	left: 50%;
	/*transform moves the element over 50% of its width and height (kind of centering the anchor point)
	transform: translate(-50%, -50%);
}










