/* BASIC SETUP ------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    background-color: #ffffff;
	color: #eee;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

/* REUSABLE COMPONENTS -----------------------------------------*/

/* Headings */

h1,
h2 {
	font-family: 'Teko', sans-serif;	
	letter-spacing: 1px;
}

h1 {
	font-size: 500%;
	margin-top: 0px;
	margin-bottom: 30px;
	word-spacing: 4px;
	line-height: .7;
}

h2 {
	font-size: 250%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}


p {
	font-size: 20;
	text-align: justify;
}

.row {
	max-width: 900px;
	/* with 4 parameters: top right bottom left, with 2: top/bottom, left/right */ 
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

/* BUTTONS */

.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	color: #123456;
	border-radius: 7px;
	border: 2px solid #123456;
	/* the transition parameter selects another parameter to affect, and the time it will take to affect it */
	transition: 
		background-color 0.5s, 
		border 0.5s, 
		color 0.5s,
		padding 0.5s;
}

.btn:hover,
.btn:active {
	background-color: #123456;
	border: 2px solid #123456;
	color: #fff;
	padding: 10px 60px;
}

/* HEADER -----------------------------------------*/

header {
	background-size: cover;
	background-image: url(https://solarsystem.nasa.gov/system/resources/detail_files/536_PIA23645_PaleBlueDotRevisited_1600.jpg);
	background-position: center;
	width: 100%;
	height: 100vh;
}

.title-box {
	padding-top: 70px;
	/*center the element (this is anchored to the top left corner) */
	
}

.quote {
	line-height: 1.5;
}

/* -------- HEADINGS -------- 



.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none; /* removes bullets 
	margin-top: 55px;
}

.main-nav li { /* selects all li items within the class 
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited  {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transperent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active  {
	border-bottom: 2px solid #e67e22;
}

/* ------ PARAGRAPHS ------- 

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	
}

/* -------- BUTTONS -------- 

/* after the ':' is a pseudo class, here its specifying when the link is normal or visited (normally, the links are blue when normal, and purple when visited 
.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	border-radius: 7px;
	border: 2px solid #e67e22;
	/* the transition parameter selects another parameter to affect, and the time it will take to affect it 
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	margin-right: 15px;
	
}

.btn-full:hover,
.btn-full:active {
	background-color: #cf6d17;
	border: 2px solid #cf6d17;
	
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
}

.btn:hover,
.btn:active {
	background-color: #cf6d17;
	border: 2px solid #cf6d17;
	color: #fff;
}

/* -------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------- 

header {
	/* gradient from black to black, 70% opacity 
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	/*center the element (this is anchored to the top left corner)
	top: 50%;
	left: 50%;
	/*transform moves the element over 50% of its width and height (kind of centering the anchor point)
	transform: translate(-50%, -50%);
}










